body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
select,
textarea,
p,
blockquote,
th,
td,
embed,
object,
.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -ms-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
select,
input,
button,
textarea {
  font: 100% tahoma, arial, Microsoft Yahei;
  outline: none;
}
body {
  font: 12px Helvetica Neue, arial, Microsoft Yahei;
  color: #222;
  -webkit-font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  border: none;
}
input::-ms-clear {
  display: none;
}
body {
  background: url('../images/bg.png') center no-repeat;
}
.mr-0 {
  margin-right: 0 !important;
}
.clearfix:after {
  content: ' ';
  clear: both;
  display: table;
}
.header {
  padding: ;
  background: url();
}
.container {
  width: 1080px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.catagory-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
}
.row {
  margin-top: 50px;
}
.row:after {
  content: ' ';
  clear: both;
  display: table;
}
.row a {
  text-decoration: none;
}
.row a:last-child .circle {
  margin-right: 0;
}
.row .circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: linear-gradient(to bottom, #2784ed, #116dd4);
  box-shadow: 0 6px 12px #083367;
  padding-top: 20px;
  float: left;
  margin-right: 240px;
}
.row .circle .circle-bg {
  display: block;
  width: 130px;
  height: 110px;
  margin: 0 auto 10px;
  background: url('../images/category.png') no-repeat;
  transition: background 0.5s ease-in-out;
}
.row .circle.circle-bg-internet-pay .circle-bg {
  background-position: 0 0;
}
.row .circle.circle-bg-internet-pay:hover .circle-bg {
  background-position: -130px 0;
}
.row .circle.circle-bg-risk .circle-bg {
  background-position: 0 -110px;
}
.row .circle.circle-bg-risk:hover .circle-bg {
  background-position: -130px -110px;
}
.row .circle.circle-bg-bigData .circle-bg {
  background-position: 0 -220px;
}
.row .circle.circle-bg-bigData:hover .circle-bg {
  background-position: -130px -220px;
}
.row .circle.circle-bg-SCM .circle-bg {
  background-position: 0 -330px;
}
.row .circle.circle-bg-SCM:hover .circle-bg {
  background-position: -130px -330px;
}
.row .circle.circle-bg-puhui .circle-bg {
  background-position: 0 -440px;
}
.row .circle.circle-bg-puhui:hover .circle-bg {
  background-position: -130px -440px;
}
.row .circle.circle-bg-mobile .circle-bg {
  background-position: 0 -550px;
}
.row .circle.circle-bg-mobile:hover .circle-bg {
  background-position: -130px -550px;
}
.row .circle .circle-text {
  font-size: 20px;
  line-height: 2;
  text-align: center;
  color: #fff;
}
